{% extends 'base.html.twig' %}

{% block title %}New Product
{% endblock %}

{% block body %}
	<h1>Add a product</h1>
	<main>

		{{ include('product/_form.html.twig') }}

		<a href="{{ path('app_product_index') }}">back to list</a>
	</main>
{% endblock %}
